<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/productos'>Productos</a></li>
            <li><a href='/productos/new'>Productos Nuevos</a></li>
            <li><a href='/contacto'>Contacto</a></li>
            <li><a href='/quienesSomos'>Nosotros</a></li>
        </ul>
    </nav>
    {{{body}}}
  </body>
</html>
